(To inquire about Legal Name inside the U.S. or any other country, please message the 'appropriate person' in the server and 'they' will attempt to message you directly.)

Owner/Founder/Leading Developer: 상휘대        Status: Active
Founder 2: Stellae                 Status: Not Active
Developer 2: Ceco                  Status: Not Active/Unknown

This includes all other developers that contribute directly to this project, whether that is to the Browser, AI, or OS itself. Special thanks to all that help.

(Owner NOT currently in a state to make payments of any type. Hoping to make money soon and for this status to change.)
